name: CD workflow

on:
  push:
    branches:
      - dev

jobs:
  cd:
    runs-on: ubuntu-latest
    name: Run linting
    steps:
      - name: Build docker
        uses: ./.github/workflows/image_publish.yml
